
body {
    font-family: Tahoma;
    background-color: Crimson;
}


h2 {
    text-align: center;
    letter-spacing: 7px;
    text-transform: capitalize;
}

.baner {
    color: white;
    text-align: center;
    height: 370px;
}

.kontener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.rozgrywka {
    color: white;
    text-align: center;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: crimson;
    transition: border-color 0.3s ease;
}

.rozgrywka:hover {
    border-color: white;
}

.glowny {
    background-color: WhiteSmoke;
    height: 50px;
}

.lewy {
    background-color: WhiteSmoke;
    width: 70%;
    height: 230px;
    float: left;
}

.prawy {
    background-color: WhiteSmoke;
    width: 30%;
    height: 230px;
    float: right;
    text-align: right;
}
