* {
    font-family: Tahoma, sans-serif;
}

header {
    background-color: tomato;
    color: 10px;
    padding: 10px;
}

main {
    background-color: seashell;
    height: 500px;
    overflow: auto;
}

footer {
    display:flex;
}

footer section {
    background-color: tomato;
    color: white;
    width: 25%;
    height: 160px;
}

.opinion {
    background-color: white;
    color: dimgray;
    width: 60%;
    height: 220px;
    margin: 40px auto;
    box-shadow: 0 0 10px 5px dimgray;
}

img {
    float: right;
    margin: 10px;
    border-radius: 10px;
}

blockquote {
    padding: 10px;
    font: 150% italic;
}

h1, h2 {
    text-align: center;
}

h4 {
    text-align: right;
    padding-right: 40px;
    font: 150% italic;
}

a {
    color: white;
}
