body {
    font-family: Verdana, sans-serif;
}

.Baner_left {
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
    display: flex;
}

.Baner_right {
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
    display: flex;
}

header {
    display: flex;
}


.lists {
    background-color: #B0BEC5;
    height: 320px;
    overflow: scroll;
}

footer {
    background-color:  #29434E;
    color: white;
}

.films {
    padding: 5px;
    width: 226px;
    height: 280px;
    display: flex;
}

h3 {
    background-color: #546E7A;
    color: white;
    margin: 0px;
}

h4 {
    text-align: center;
    margin: 0 px;
}